{{!-- <h1>hi guys this is cart</h1> --}}
<div class="container">
    <div class="divTable div-hover">

        <div class="rowTable bg-primary text-white pb-2">
            <div class="divTableCol">Product</div>

            <div class="divTableCol"> Quantity</div>
            <div class="divTableCol">Price</div>
            <div class="divTableCol">Total</div>
            <div class="divTableCol">Actions</div>
            
        </div>

        {{#each products}}
        <div class="rowTable">
            <div class="divTableCol">
                <div class="media">


                    <td><img src="/product-images/{{this.product._id}}.jpg" alt="heloo" srcset=""
                            style="width: 50px; height:50px;"></td>
                    <div class="media-body">

                        <div class="divTableCol"><strong class="label label-warning">{{this.product.Name}}</strong>
                        </div>
                    </div>

                </div>
            </div>

            <div class="divTableCol">
                <p style="display: flex; ">
                    <button onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">
                        <notvalidtag>-</notvalidtag>
                    </button>
                    <span class="form-control" id="{{this.product._id}}"
                        style="width:20% ; text-align:center; overflow:scroll; ">{{this.quantity}}</span>

                    <button onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">
                        <notvalidtag>+</notvalidtag>
                    </button>
                    <style>
                        notvalidtag {
                            font-size: 20px;
                            padding-left: 10px;
                            padding-right: 10px;
                            background: #000000;
                            color: #fff;
                            border-radius: 10px;
                            width: 30px;
                            text-align: center;
                            align-items: center;
                            font-weight: 800;
                        }
                    </style>
                </p>
            </div>
            <div class="divTableCol"><strong>₹{{this.product.Price}}</strong></div>
            <div class="divTableCol"><strong>₹{{th}}</strong></div>
            <div class="divTableCol">
                <button type="button" class="btn btn-danger"><span class="fa fa-remove"></span> <a href="" style="color: #EEE;">Remove</a></button>
            </div>
        </div>
        {{/each}}



        
        <div class="rowTable">
            <div class="divTableCol"></div>
            <div class="divTableCol"></div>
            <div class="divTableCol"></div>
            <div class="divTableCol">
                <h5>Total price </h5>
            </div>
            <div class="divTableCol">
                <h5><strong id="total">₹{{totalValue}}</strong></h5>
            </div>
        </div>
        <div class="rowTable">
            <div class="divTableCol"></div>
            <div class="divTableCol"></div>
            <div class="divTableCol"></div>
            <div class="divTableCol">
                <h3>Total</h3>
            </div>
            <div class="divTableCol">
                {{!-- <h3><strong id="total">₹{{totalValue}}</strong></h3> --}}
            </div>
        </div>
        <div class="rowTable">
            <div class="divTableCol"></div>
            <div class="divTableCol"></div>
            <div class="divTableCol"></div>
            <div class="divTableCol">
                <button type="button" class="btn btn-default col-6" disabled></span></button>
            </div>
            <div class="divTableCol">
               <a href="/place-order"> <button type="button" class="btn btn-success">Place Order</span></button></a>
            </div>
        </div>
    </div>
</div>

<style>
    .mr-2 {
        margin-right: 20px;
    }

    .divTable {
        display: table;
        width: 100%;
    }

    .rowTable {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCol,
    .divTableHead {
        border-bottom: 1px solid #eee;
        display: table-cell;
        padding: 3px 10px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }
</style>

<script src="javascripts/script.js">




</script>