<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height:24rem;">
                    <img src="/product-images/{{this.product._id}}.jpg" alt="Cart image cap" style="height: 12rem;"
                        class="card-img-top">
                        
                    <div class="card-body">
                        <h5 class="cart-title">{{this.product.Name}}</h5>
                        <p class="cart-text">{{this.product.Price}}</p>
                        <p class="cart-text">Quantity :{{this.quantity}}</p>
                        <p class="cart-text">{{this.Description}}</p>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>